h2,h3 {
    font-family: "Cantarell", "Verdana", "arial", "sans-serif";
    font-weight: normal;
}
h2 {
    padding-bottom: 10px; 
    border-bottom: 1px solid #F8F5EE;
    font-size: 1.5em;
}     
body, * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
label {
    font-family: 'Cantarell';
    text-transform: uppercase;
    display: block;
    padding-bottom: 6px;
}   
input, select, textarea {
    height: 40px; 
    line-height: 1.2rem;
    box-sizing: border-box;
    font-family: 'Cantarell';
    margin-bottom: 15px;
}
select {
    color: #666666;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
}
input[type="password"], input[type="text"], input[type="number"], input[type="email"], input[type="date"], input[type="file"]{
    color: #666666;
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    -webkit-appearance: none;
}
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    height: 5.2rem;
} 
input.ui-button {
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    background-image: none;
    color: #ffffff;
    font-weight: bold;
    border: 0;
}
div.form {
    width: 100%;
}
.panel-heading {
  padding: 5px;
}
.panel-title {
  font-size: 14px;
}
.list-group-item {
  padding: 5px;
  font-size: 12px;
}
.panel-heading .badge {
    float: right;
}
.form-oauth {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-oauth .form-oauth-heading,
.form-oauth .checkbox {
    margin-bottom: 10px;
}
