html(lang='en')
  head
    meta(charset='utf-8')
    title Admin · Digital Passport
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/scripts/css/bootstrap.css', rel='stylesheet')
    style(type='text/css').
      body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
      }
      .form-admin {
      max-width: 300px;
      padding: 19px 29px 29px;
      margin: 0 auto 20px;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-admin .form-admin-heading,
    .container
      form.form-admin(method='POST' action='/admin')
        h2.form-admin-heading Demo Digital Passport Admin
        button.btn.btn-large.btn-primary(type='submit') Reset

