extends layout.pug
block config
    - var title = 'Login';
block scripts
block content
    .container
      form.form-oauth(method='POST' action='/oauth/authorise')
        input.form-control(type="hidden" name="response_type" value="code")
        input.form-control(type="hidden" name="client_id" value=client_id)
        input.form-control(type="hidden" name="redirect_uri" value=redirect_uri)
        input.form-control(type="hidden" name="scope" value=scope)
        h2.form-signin-heading Authorise
        p #{client_name} is requesting the following permissions
        div.panel-group
          each auth_item in auth_items
            div.panel.panel-default
              div.panel-heading
                h4.panel-title
                  span.badge read #{auth_item.fields.length}
                  a(data-toggle="collapse" href='#collapse' + auth_item.id) #{auth_item.template}
              div.panel-collapse.collapse(id='collapse' + auth_item.id)
                  ul.list-group
                    each field in auth_item.fields
                      li.list-group-item #{field}
        p Do you authorise #{client_name} to access your data?
        button.btn.btn-large.btn-primary(name="allowed" value='yes' type='submit') Authorise
        button.btn.btn-large.btn(name="cancel" type='submit') Cancel

