block config
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title} · Digital Passport
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='/scripts/css/bootstrap.css', rel='stylesheet')
    link(href='/static/server.css', rel='stylesheet')
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cantarell:400,700|Raleway:400&amp;subset=all")
    block scripts
    style(type='text/css').
        span.logo {
        background: #777777 url("/static/acme.svg") no-repeat left top;
        background-size: 116px 32px;
        width: 116px;
        height: 32px;
        }
        .navbar-brand {
        padding: 20px;
        }
        .navbar-inverse {
        background-color: #777777;
        border-color: #777777;
        }  
    style(type='text/css').
        .container {
        width: 370px;
        }
        body {
        font-family: "Raleway", "Verdana", "arial", "sans-serif";
        max-width: 400px;
        width: 400px;
        padding-top: 80px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
        }
        span.logo {
        background-origin: border-box;
        display: inline-block;
        line-height: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 15px;
        float: left;
        }
        .navbar-fixed-top {
        padding-left: 15px;
        }
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-header
        span.logo
        a.navbar-brand(href="#") Digital Passport
    div.content
        block content
