extends layout.pug
block config
    - var title = 'Login';
block scripts
    style(type='text/css').
          .form-signin {
          max-width: 300px;
          padding: 19px 29px 29px;
          margin: 0 auto 20px;
          background-color: #fff;
          border: 1px solid #e5e5e5;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
          }
          .form-signin .form-signin-heading,
          .form-signin .checkbox {
          margin-bottom: 10px;
          }
          .form-signin input[type="text"],
          .form-signin input[type="password"] {
          font-size: 16px;
          height: auto;
          margin-bottom: 15px;
          padding: 7px 9px;
          }
block content
    .container
      form.form-signin(method='POST' action='/login')
        input.form-control(type="hidden", name="client_id", value=client_id)
        input.form-control(type="hidden", name="redirect_uri", value=redirect_uri)
        input.form-control(type="hidden", name="scope", value=scope)
        h2.form-signin-heading Please Sign In
        input.input-block-level(type='text', placeholder='username', id='username', name='username')
        input.input-block-level(type='password', placeholder='password', id='password', name='password')
        button.btn.btn-large.btn-primary(type='submit') Sign in

